 
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>激活邮箱</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  {include file="public/link" /}
</head>
<body>

{include file="public/header" /}

<div class="layui-container fly-marginTop fly-user-main">
  {include file="public/user-nav" /}
  
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">
          更换激活邮箱
        </li>
      </ul>
      <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <ul class="layui-form">
          <li class="layui-form-li">
            <form method="post" id="myform" url="{:url('User/activate')}">
              <label for="activate">更换激活邮箱：</label>
              <div class="layui-input-inline">
                <input type="text" id="L_email" name="email" lay-verify="email" autocomplete="off" value="" class="layui-input">
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" key="set-mine" lay-filter="*" onclick="ajaxPost()">确认</button>
              </div>
            </form>
          </li>
          <li class="layui-form-li" style="margin-top: 20px; line-height: 26px;">
            <div>
              1. 如果您未收到邮件，或激活链接失效，您可以
              重新发送邮件，或者
              更换邮箱；
            </div>
            <div>
              2. 如果您始终没有收到 Fly 发送的邮件，请注意查看您邮箱中的垃圾邮件；
            </div>
            <div>
              3. 如果你实在无法激活邮件，您还可以联系：admin@xx.com
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</div>

{include file="public/footer" /}
<script>
$(function() {
  //表单验证
  $("#myform").validate({
  onkeyup: false,
  focusCleanup: true,
  success: "valid",
  submitHandler: function (form) {
  singwaapp_save(form);// 需要小伙伴自定义一个singwaapp_save方法 用来处理抛送请求的哦
  }

  });
  });
</script>
<script type="text/javascript">
  function ajaxPost(){
    var formData = $("#myform").serialize();
    //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法

    $.ajax({
      type:"POST",
      url:"{:url('SendEmail/sendemail')}",
      data:formData,//这里data传递过去的是序列化以后的字符串
      success:function(result){
      }
    });
  }
</script>
</body>
</html>